:root{
    --primary-color: #7d2926;
    --secondary-color: #f0f7f9;
    --text-color: #01051f;
}
.message{
    background-color: white;
    padding: 15px 8%;
    margin: 30px 0 30px 0;
}
.message-card{
    display: flex;
    gap: 30px;
}
.message-card img{
    width: 400px;
    height: 500px;
    overflow: hidden;
}
